@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #490C0C;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a, button{
@apply transition-all duration-300 focus:outline-none
}
.ct-container{
  @apply max-w-[1440px] 2xl:px-2 px-5 w-full mx-auto
}